<div class="login-background">
    <div class="theme-art">
        <div class="logo centered">Tawtini Catering</div>
        <img class="theme" src="../../assets/images/fisherman_cartoon.png" />
    </div>
    <div class="login-container flex-center children-center">
        <div class="form-container place-holder-color">
            <form [formGroup]="form" novalidate>
                <div formGroupName="forgotPassword">
                    <div class="form-input centered">
                        <md-input-container>
                            <input type="text" formControlName="email" mdInput placeholder="{{arabicText.EMAIL}}" validate-event="blur" style="color: #ffffff;"
                            />
                        </md-input-container>
                        <div class="form-validation-message" [ngClass]="{'invisible' : !submittedOnce}">
                            <span *ngIf="form['controls'].forgotPassword['controls'].email.errors && form['controls'].forgotPassword['controls'].email.errors.required">
                           {{arabicText.errors.EMAIL_REQUIRED}}
                        </span>
                            <span *ngIf="form['controls'].forgotPassword['controls'].email.status == 'INVALID' && !form['controls'].forgotPassword['controls'].email.errors.required">
                            {{arabicText.errors.EMAIL_NOT_VALID}}
                        </span>
                        </div>
                    </div>
                    <div class="form-submit centered">
                        <button md-raised-button type="button" (click)="forgotPassword()" [color]="'primary'"><span style="color: #ffffff;">{{arabicText.FORGOT_PASSWORD_BUTTON}}</span></button>
                    </div>
                    <div style="padding:10px;text-align:right;width:100%">
                        <a style="color: #ffffff;" routerLink="/login">{{arabicText.LOGIN}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>