<div class="dashboard-container">
    <md-toolbar color="#676766">
        <md-icon>
            <img class="nav" src="../../../assets/icons/menu.svg" />
        </md-icon>
        <span class="title">{{arabicText.Tawtini_Catering}}</span>
        <button md-button style="color: #ffffff; position: absolute; right: 0px; margin: 0px 8px;" (click)="logout()">
            <i class="fa fa-power-off"></i>&nbsp;{{arabicText.LOGOUT}}
        </button>
    </md-toolbar>
     <md-menu #menu="mdMenu" >
        <button md-menu-item  (click)="navigateCategory(category)" *ngFor="let category of nestedNavList">{{category == 'Food' ? arabicText.FOOD : category == 'Shop' ? arabicText.SHOP : category == 'Accomodation' ? arabicText.ACCOMODATION : '' }}</button>
    </md-menu>
    <div style="position: relative;">
        <div class="dashboard-list">
            <md-list>
                <md-list-item class="nested-menu" *ngFor="let listItem of navListItems"  (click)="navigate(listItem)"  [ngClass]="{'active' : activeLI == listItem.itemName}">
                    <button style="font-size: 16px;" md-button *ngIf="listItem.path != null">{{listItem.itemName}}</button >
                    <button style="font-size: 16px;"  md-button *ngIf="listItem.path == null" [mdMenuTriggerFor]="menu">{{listItem.itemName}}</button>
                </md-list-item>
            </md-list>
        </div>
        <div class="dashboard-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>