.activity-cards {
    .card {
        padding: 5px;
    }
}
.location-list { 
    .toolbar {
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        background-color: #ffffff !important;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
        margin-bottom: 20px;
        min-height: 74px;
    }
    .form {
        padding: 20px;
        background-color: #ffffff;
        .input:nth-child(odd) {
            text-align: left;
        }
        .input:nth-child(even) {
            text-align: right;
        }
        .validation {
            text-align: left !important;
            color: firebrick;
                height: 20px;
        }
    }
 }
 body {
    margin: 0;
}

/* Material Design overrides */

md-card {
    background-color: #ffffff;
}
.sebm-google-map-container {
      height: 310px;
    }   
md-input-container {
    width: 100% !important;
}
.mat-input-wrapper {
    margin-bottom: 0px !important;
}
md-input-container.search {
    width: auto !important;
}
md-select{
     width: 100% !important;
}
.mat-checkbox-inner-container {
    input.mat-checkbox-input {
        opacity: 0 !important;
    }
}
md-card{
    padding: 10px;
}
// .frame-video img{
//     height: 200px;
//     width: 50%;
// }
 .card-image{
    height: 200px !important;
    width:100%;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: bold;
}
.boldFondWeight{
    font-weight: bold;
} 
th, td {
    padding: 8px;
}
td {
    
    word-break: break-all;
}